/node_modules
/public/build
/storage/logs
.env
.env.backup
/vendor
storage/app/public/proofs/*.DS_Store
storage/app/public/proofs/*.jpg
storage/app/public/proofs/*.png
storage/app/public/proofs/*.jpeg
storage/app/public/proofs/*.webp
.env.local
.env.testing
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/framework/sessions/*
/database/*.sqlite
.DS_Store
**/node_modules/.DS_Store
**/vendor/.DS_Store
**/storage/.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/.phpunit.result.cache
/.phpunit.cache
/.pest_tracker
/vendor/pestphp/pest/.temp/
