/node_modules
/public/build
/storage/logs
.env
.env.backup
/vendor
storage/app/public/proofs/*.DS_Store
storage/app/public/proofs/*.jpg
.env.local
.env.testing
/storage/*.key
/storage/framework/cache/data/*
/database/*.sqlite
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/.phpunit.result.cache
/.phpunit.cache
/.pest_tracker
